@media only screen and (max-width: 1087px) {
    .profile_xp {
        width: 90%;
    }
    /*
    ul li {
        display: none;
    }
    
    nav {
        height: 47px;
    }
    */
    .profile_motto {
        width: 90%;
    }
    .content {
        width: 100%;
    }
}